{% load static %} {% block sidebar %}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="user-sidebar text-center">
            <div class="dropdown">
                <div class="user-img">
                    <img src="{% static 'images/odtcorp.png' %}" alt="" class="rounded-circle" width="100">
                    <span class="avatar-online bg-success"></span>
                </div>
                <div class="user-info">
                    <h5 class="mt-3 font-size-16 text-white">{{ user.username }}</h5>
                    <span class="font-size-13 text-white-50">Administrator</span>
                </div>
            </div>
        </div>
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a href="{% url 'index' %}" class="waves-effect">
                        <i class="dripicons-home"></i>
                        <span key="t-dashboard">Dashboard</span>
                    </a>
                </li>
        
                    <li>
                    <a href="{% url 'calendar' %}" class=" waves-effect">
                        <i class="dripicons-calendar"></i>
                        <span key="t-calendar">Calendar</span>
                    </a>
                </li>
               
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="dripicons-blog"></i>
                 
                        <span key="t-forms">Forms</span>
                    </a>
                    <ul class="sub-menu" >
            
                        <li><a href="{% url 'form_in' %}" key="t-form-validation">Form Pemasukan</a></li>
                        <li><a href="{% url 'form_out' %}" key="t-form-editors">Form Pengeluaran</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="dripicons-to-do"></i>
                        <span key="t-tables">Tabel</span>
                    </a>
                    <ul class="sub-menu">
                        
                        <li><a href="{% url 'tables_datatable' %}" key="t-data-tables">Tabel Pemasukan</a></li>
                        <li><a href="{% url 'tables_basic' %}" key="t-basic-tables">Tabel Pengeluaran</a></li>
                    </ul>
                </li>
            
              
           
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
{% endblock sidebar %}