{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Sweet Alert{% endblock title %}

{% block extra_css %}
    <!-- Sweet Alert-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h4>Sweet Alert</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Morvin</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">UI Elements</a></li>
                                        <li class="breadcrumb-item active">Sweet Alert</li>
                                    </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                                <a href="" class="btn btn-success">Add Widget</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                   
                                        <div class="row text-center">
                                            <div class="col-xl-3 col-lg-4 col-sm-6 mb-2">
                                                <div class="p-3">
                                                   
                                                    <button type="button" class="btn btn-primary waves-effect waves-light" id="sa-warning">Click me</button>
                                                </div>
                                            </div>

                                          
                                        </div> <!-- end row -->
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div>
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
    <!-- Sweet Alerts js -->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

    <!-- Sweet alert init js-->
    <script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>
{% endblock extra_javascript %}